{% extends 'main.html' %}
{% load static %}
{% comment %} <link rel="stylesheet" href="{% static 'css/style.css' type='text/css'  %}" /> {% endcomment %}

{% block content %}
<div class="container">
    <div class="card-header">
        <h2>Login</h2>
    </div>
    <div class="card">
        <form method="POST" class="text-center">
            {% csrf_token %}

            <label>{{form.username.label}}</label></br>
            {{form.username}}</br></br>
    
            <label>{{form.password.label}}</label></br>
            {{form.password}}</br></br>

            <input class="button" type="submit" value="Login" />
        </form></br>
        <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    </div>
</div>
{% endblock %}