{% extends 'main.html' %}
{% load static %}


{% block content %}
<div class="container">
    <div class="card-header">
        <h2>Register</h2>
    </div>
    <div class="card">
        <form method="POST">
            {% csrf_token %}        
            <label>{{form.username.label}}</label></br>
            {{form.username}}</br></br>
    
            <label>{{form.password1.label}}</label></br>
            {{form.password1}}</br></br>
    
            <label>{{form.password2.label}}</label></br>
            {{form.password2}}</br></br>
            <input class="button" type="submit" value="Register" />
        </form></br>
        <p>Already have an account?<a href="{% url 'login' %}">Login</a></p>
    </div>

</div>
{% endblock %}
